@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: rgb(0 0 0 / 0.72);
  }
}

@layer components {
  .btn {
    @apply w-full flex justify-center 
      py-3 px-4 border border-transparent text-sm font-semibold 
      rounded-md text-white bg-gray-900 hover:bg-gray-800 focus:outline-none 
      focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 disabled:opacity-75 disabled:cursor-not-allowed;
  }

  .loader {
    @apply border-4 rounded-full border-b-gray-200 border-emerald-400 w-10 h-10 animate-spin;
  }
}
